@import url('https://fonts.googleapis.com/css2?family=Adamina&display=swap');

.container {
	width: 30%;
	padding: 20px;
	box-sizing: border-box;
	background-color: #f2e3ca;
	border: 10px solid #a44939;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 60px auto;
	padding: 20px;
}
#buttonStyle { /* suggestion: use class selector */
	color: #eb6d76;
	border: 5px solid #eb6d76;
	border-radius: 0px;
	background-color: #fbffda;
	opacity: 1;
	font-family: 'Adamina', serif;
	/* margin-top: 30px; */ /* Commented out by Anton to allow for centering spinner*/
}
#buttonStyle:hover {
	background-color: #d8dbba;
	border: 5px solid #ce6067;
	color: #f0a9ae;
}
.spacingTop {
	margin-top: 30px;
}
.input {
	background-color: #fbffda;
	color: #eb6d76;
	border: 5px solid #eb6d76;
	border-radius: 0px;
	padding: 15px;
	font-family: 'Adamina', serif;
}
.label {
	font-family: 'Adamina', serif;
	color: #eb6d76;
}
