.addToCartButton {
  margin: 20px auto;
}

.specialtyPizzaCardGroup {
  display: flex;
  flex-direction: row;
  align-items: space-evenly;
  margin-top: 90px;
}

.specialtyPizzaCardWrapper {
  padding: 10px;
}

.specialtyPizzaCard {
  /* margin: auto 20px; */
  flex-wrap: wrap;
  min-width: 300px;
  max-width: 400px;
  justify-content: center;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.438);
}
.specialtyPizzaCardBody {
  margin: auto;
  max-width: 300px;
}
