@import url('https://fonts.googleapis.com/css?family=Adamina&display=swap');
.centerDiv {
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.createPizzaTitle {
    padding: 30px 0px;
}

.toppingTable {
    width: 70%;
    margin: 10px auto;
}

td:first-child{
    width: 100px;
    text-align: center;
    font-weight: bolder;
}

td {
    width: max-content;
    text-align: left;
}

label {
    padding-left: 10px;
}
.dropdown-mystyle{
  color: #eb6d76;
  border: 5px solid #eb6d76;
  border-radius: 0px;
  background-color: #fbffda;
  opacity: 1;
  font-family: 'Adamina', serif;
  margin: 5px;
  width: max-content;
}

.baseDropdownContainer{
    width: 70%;
    justify-content: center;
    justify-content: space-evenly;
    margin:3.3em auto;
    display: flex;
    flex-wrap: wrap;
}

.quantityForm{
    display: flex;
    flex-direction: row;
}

.verificationMsg{
    color: red;
    font-family: 'Adamina', serif;
    
}
