/* Fonts  */
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab&display=swap');
.toppingCardTitle{
font-family: 'Josefin Slab', serif;
color: rgb(80, 54, 20);
font-weight: 300;

}

/* Styling for the toppin cards */
.toppingCardWrapper{
    border-radius: 16px;
    background-color: #f7b052;
    box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.637),  -2px -2px 0px 0px rgba(253, 238, 238, 0.692);
    padding: 3px;
    text-align: center;


}


.toppingCardWrapper:hover{
cursor: pointer;
box-shadow: 2px 2px 0px 0px rgba(253, 238, 238, 0.692),  -2px -2px 0px 0px  rgba(0, 0, 0, 0.637) ;
color: rgb(167, 140, 105);

}






