.main {
  display: flex;
  flex-direction: column;
  background:radial-gradient(closest-side, #f5f5c1, #f3ddc1, #f8bc7c);
}

.header {
  flex-shrink: 0;
  /* position: relative; */
}

.container {
  flex: 1 0 auto;
  /* background: #fbffda url(../Home/style/home_background.jpg);
  background-repeat: no-repeat;
  background-size: cover; */
}
