.Title {
    background-color: orange;
    color: white;
    width: 300px;
    border: 1px solid black;
    margin: 20px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.Body{
    background-color: #FAEBD7;
    text-align: center;
}

.OrderChoice {
    background-color: rgb(202, 192, 174);
    color: white;
    width: 700px;
    height: 600px;
    border: 1px solid black;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
}
