@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Diplomata+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Diplomata&display=swap');
@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC&display=swap');

@import url('https://fonts.googleapis.com/css?family=Adamina|Allura|Courgette|Lobster+Two|Yellowtail&display=swap');
/* different className styling --------------------------------- */
.homeTitleTop {
  font-family: 'Diplomata SC', cursive;
  font-size: 2.5em;
  display: block;
  padding-top: 10%;
  /* color: #fbffda; */
}

.cursiveTitle {
  font-family: 'Dancing Script', cursive;

  text-shadow: 4px 2px 3px rgba(27, 6, 6, 0.973);
  font-size: 4.5em;
  display: block;
  text-transform: capitalize;
  color: #f7ddaf;
}

.orderChoiceTitle {
  font-family: 'Diplomata', cursive;  font-size: 2.5em;
  display: block;
  /* padding-top: 10%; */
  /* color: #fbffda; */
}

.orderChoiceSubtitle {
  font-family: 'Courgette', cursive;  font-size: 2.5em;
  display: block;
  color: #000;
  margin-bottom: 2.5em;
  margin-top: 6.5em;

}
.basicTitle {
  font-family: 'Playfair Display', serif;
  font-family: 'IM Fell French Canon SC', serif;
  font-size: 3.7em;
  display: block;
  color: rgb(116, 82, 31);
  text-shadow: 1px 1px rgb(15, 13, 13);
}

.navbarTitle {
  font-family: 'Playfair Display', serif;
  font-size: 2em;
  display: block;
  color: #fbffda;
  padding: 15px;
}
.registerTitle{
  font-family: 'Allura', cursive;
  font-size: 5rem;
  text-shadow: 4px 2px 3px rgba(27, 6, 6, 0.973);
  display: block;
  color: #f7ddaf;
}

.CartTitle{
  font-family: 'Allura', cursive;
  font-size: 4.5em;
  display: block;
  color: rgb(78, 51, 14);
  text-shadow: 2px 2px 3px rgb(105, 39, 39);

}

/* divClassName styling --------------------------------- */
.titleBox {
  background-color: #a44939;
  color: white;
  width: 100%;
  /* border: 1px solid black; */
  /* margin: 20px; */
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding-top: 25px;
  padding-bottom: 25px;
  position: relative;
}
.titleBoxRegister{
  background-color: #a44939;
  color: white;
  width: 60%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px auto;
  padding-top: 15px;
  padding-bottom: 15px;
  position: relative;
  box-shadow: 5px 5px 10px 3px rgba(46, 35, 21, 0.438);
}
/* default heading styling --------------------------------- */
h1 {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: '10%';
  color: #fbffda;
  /* color: #000; */
}
