/* @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Diplomata+SC&display=swap');
.font {
  font-family: 'Diplomata SC', cursive;
}
.font span {
  font-family: 'Dancing Script', cursive;
  font-size: 2.5em;
  display: block;
}
h1 {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 10%; 
  color: #fbffda;
} */
/* Used padding-top instead of margin-top to prevent white-space in background-image*/
